<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men's Fashion</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/menfashionstyle.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
</head>
<body>
    <header>
        <div class="top_heading">
            <a href="/" target="_blank"><img src="{{url_for('static', filename = 'images/Binod_logo.png')}}" alt="Company Logo" class="logoimg"></a>
            <h1>BINOD MERCHSTOP</h1>
            <ul class="headercont">
                <li><a href="#"><i class="fa fa-shopping-cart" style="font-size: 20px;position:relative;left: 8%;z-index: 2;"></i>&nbsp; &nbsp; Cart</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div><br><br><br>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Men's Fashion</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="/men-summer/">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Women's Fashion</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="/women-summer/" target="_blank">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Baby</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="#">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Mobiles</a></li>
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Sports</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>WELCOME TO MEN'S STORE</h1>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas1.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas2.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas3.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas4.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas5.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas6.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas7.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas8.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas9.jpg')}}" alt="menfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/menfas10.jpg')}}" alt="menfas">
        </div>
        <div class="detailsone">
            <p>
                <strong>HELLCAT</strong><br>
                Mens Pack of 3 Printed T-shirt<br>
                <strong>Rs.689 </strong>&nbsp;
                <strike>Rs.2299</strike>
            </p>
        </div>
        <div class="detailstwo">
            <p>
                <strong>U.S. Polo Assn.</strong><br>
                Mens Slim Fit Chinos<br>
                <strong>Rs.797 </strong>&nbsp;
                <strike>Rs.2099</strike>
            </p>
        </div>
        <div class="detailsthree">
            <p>
                <strong>U.S. Polo Assn.</strong><br>
                Solid Polo Collar T-shirt<br>
                <strong>Rs.1099 </strong>&nbsp;
                <strike>Rs.1499</strike>
            </p>
        </div>
        <div class="detailsfour">
            <p>
                <strong>U.S. Polo Assn. Denim Co.</strong><br>
                Men Printed Polo Collar T-shirt<br>
                <strong>Rs.1119 </strong>&nbsp;
                <strike>Rs.1599</strike>
            </p>
        </div>
        <div class="detailsfive">
            <p>
                <strong>Levis</strong><br>
                Men 513 Slim straight Jeans<br>
                <strong>Rs.1759 </strong>&nbsp;
                <strike>Rs.3199</strike>
            </p>
        </div>
        <div class="detailssix">
            <p>
                <strong>Levis</strong><br>
                Men 511 Slim Fit Jeans<br>
                <strong>Rs.2299 </strong>&nbsp;
                <strike>Rs.4599</strike>
            </p>
        </div>
        <div class="detailsseven">
            <p>
                <strong>HIGHLANDER</strong><br>
                Men Printed Shorts<br>
                <strong>Rs.519 </strong>&nbsp;
                <strike>Rs.999</strike>
            </p>
        </div>
        <div class="detailseight">
            <p>
                <strong>HRX by Hrithik Roshan</strong><br>
                Printed Round Neck T-shirt<br>
                <strong>Rs.384 </strong>&nbsp;
                <strike>Rs.699</strike>
            </p>
        </div>
        <div class="detailsnine">
            <p>
                <strong>Puma</strong><br>
                Cotton ESS Brand Logo T-shirt<br>
                <strong>Rs.824 </strong>&nbsp;
                <strike>Rs.1099</strike>
            </p>
        </div>
        <div class="detailsten">
            <p>
                <strong>U.S. Polo</strong><br>
                Men Avengers Collar T-shirt<br>
                <strong>Rs.579 </strong>&nbsp;
                <strike>Rs.899</strike>
            </p>
        </div>
    </main>
    <div class="color"></div>
    <footer class="footer">
        <div class="footerdiv">
                <div class="div1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Refund Policy</a></li>

                    </ul>
                </div>
                <div class="div2">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="/contact-us/" target="_blank">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Returns and Exchange</a></li>
                        <li><a href="#">Shipping</a></li>
                    </ul>
                </div>
                <div class="div3">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Appliances</a></li>
                        <li><a href="#">Babycare</a></li>
                    </ul>
                </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <div class="copyright">
            &copy; 2021 | BINODMERCH
        </div>
    </footer>
</body>
</html>