<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men's Fashion</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/womenfashionstyle.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel|Fauna+One">
</head>
<body>
    <header>
        <div class="top_heading">
            <a href="/" target="_blank"><img src="{{url_for('static', filename = 'images/Binod_logo.png')}}" alt="Company Logo" class="logoimg"></a>
            <h1>BINOD MERCHSTOP</h1>
            <ul class="headercont">
                <li><a href="#"><i class="fa fa-shopping-cart" style="font-size: 20px;position:relative;left: 8%;z-index: 2;"></i>&nbsp; &nbsp; Cart</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div><br><br><br>
        <div class="nav">
            <ul>
                <li>
                    <a href="#">Men's Fashion</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="/men-summer/" target="_blank">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Women's Fashion</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="/women-summer/">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#">Baby</a>
                    <div class="dropdownmens">
                        <ul>
                            <li class="dropdown">
                                <a href="#">Summer</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Winter</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Mobiles</a></li>
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Sports</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>WELCOME TO WOMEN'S STORE</h1>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women1.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women2.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women3.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women4.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women5.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women6.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women7.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women8.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women9.jpg')}}" alt="womenfas">
        </div>
        <div class="image">
            <img src="{{url_for('static', filename = 'images/women10.jpg')}}" alt="womenfas">
        </div>
        <div class="detailsone">
            <p>
                <strong>Anouk</strong><br>
                Solid Kurta with Trousers<br>
                <strong>Rs.874 </strong>&nbsp;
                <strike>Rs.2499</strike><br>
                <p class="urgent">Only Few Left!</p>
            </p>
        </div>
        <div class="detailstwo">
            <p>
                <strong>AHIKA.</strong><br>
                Floral Printed Straight Kurta<br>
                <strong>Rs.694 </strong>&nbsp;
                <strike>Rs.1198</strike>
            </p>
        </div>
        <div class="detailsthree">
            <p>
                <strong>Biba</strong><br>
                Printed Kurta with Palazzos<br>
                <strong>Rs.1399 </strong>&nbsp;
                <strike>Rs.3499</strike><br>
                <p class="urgent">Only Few Left!</p>
            </p>
        </div>
        <div class="detailsfour">
            <p>
                <strong>SASSAFRAS</strong><br>
                High Neck Cropped Top<br>
                <strong>Rs.449 </strong>&nbsp;
                <strike>Rs.999</strike>
            </p>
        </div>
        <div class="detailsfive">
            <p>
                <strong>Athena</strong><br>
                Solid Puff Sleeves top<br>
                <strong>Rs.766 </strong>&nbsp;
                <strike>Rs.1299</strike>
            </p>
        </div>
        <div class="detailssix">
            <p>
                <strong>DressBerry</strong><br>
                Floral Print Puff Sleeves Top<br>
                <strong>Rs.659 </strong>&nbsp;
                <strike>Rs.1199</strike>
            </p>
        </div>
        <div class="detailsseven">
            <p>
                <strong>H&M</strong><br>
                Straight Jersey Trousers<br>
                <strong>Rs.1039 </strong>&nbsp;
                <strike>Rs.1299</strike>
            </p>
        </div>
        <div class="detailseight">
            <p>
                <strong>Biba</strong><br>
                Women Floral Printed Palazzos<br>
                <strong>Rs.849 </strong>&nbsp;
                <strike>Rs.1699</strike>
            </p>
        </div>
        <div class="detailsnine">
            <p>
                <strong>Libas</strong><br>
                Women Regular Fit Trousers<br>
                <strong>Rs.559 </strong>&nbsp;
                <strike>Rs.889</strike>
            </p>
        </div>
        <div class="detailsten">
            <p>
                <strong>H&M</strong><br>
                Women Flared Maxi Skirt<br>
                <strong>Rs.999 </strong>&nbsp;
                <strike>Rs.2199</strike><br>
                <p class="urgent">Only Few Left!</p>
            </p>
        </div>
    </main>
    <div class="color"></div>
    <footer class="footer">
        <div class="footerdiv">
                <div class="div1">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Refund Policy</a></li>

                    </ul>
                </div>
                <div class="div2">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="/contact-us/" target="_blank">Contact Us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Returns and Exchange</a></li>
                        <li><a href="#">Shipping</a></li>
                    </ul>
                </div>
                <div class="div3">
                    <h4>Online Shop</h4>
                    <ul>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Appliances</a></li>
                        <li><a href="#">Babycare</a></li>
                    </ul>
                </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <div class="copyright">
            &copy; 2021 | BINODMERCH
        </div>
    </footer>
</body>
</html>